


.mid{
    
}

/* 
position: absolute;
width: 453px;
height: 26px;
left: 837px;
top: 44px;


/* Home */

/* position: absolute;
width: 88px;
height: 26px;
left: 837px;
top: 44px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF; */



/* About */

/* position: absolute;
width: 88px;
height: 26px;
left: 939px;
top: 44px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF; */



/* Features */
/* 
position: absolute;
width: 132px;
height: 26px;
left: 1041px;
top: 44px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF;
 */


/* Contact */

/* position: absolute;
width: 132px;
height: 26px;
left: 1158px;
top: 44px;

font-family: 'Actor';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;

color: #FFFFFF; */



/* Ellipse 3 */

/* position: absolute;
width: 49px;
height: 48px;
left: 705px;
top: 33px;

background: linear-gradient(180deg, #4A6C13 0%, #074B1A 100%);
background-blend-mode: screen;
box-shadow: 0px 4px 4px 1px rgba(0, 0, 0, 0.25); */


/* Group 2 */

/* position: absolute;
width: 43px;
height: 38px;
left: 91px;
top: 38px; */



/* Vector 5 */

/* position: absolute;
width: 30.28px;
height: 36.1px;
left: 91px;
top: 39.51px; */



/* Vector 6 */
/* 
position: absolute;
width: 42.89px;
height: 38px;
left: 91.11px;
top: 38px;
 */ 
